---
# Pi-hole DNS

- name: Create volumes
  ansible.builtin.include_tasks: ../shared/helpers.yml
  vars:
    helper: create-volumes
    volumes: [pihole_data]

- name: Create subpaths
  ansible.builtin.include_tasks: ../shared/helpers.yml
  vars:
    helper: create-subpaths
    volume_name: pihole_data
    subpaths: [pihole, dnsmasq]

- name: Start Pi-hole
  community.docker.docker_compose_v2:
    project_src: "{{ playbook_dir }}/../compose"
    services:
      - pihole
    state: present
