---
# Pi-hole DNS

- name: Create pihole_data volume
  community.docker.docker_volume:
    name: pihole_data

- name: Start Pi-hole
  community.docker.docker_compose_v2:
    project_src: "{{ playbook_dir }}/../compose"
    services:
      - pihole
    state: present
