services:
  syncthing:
    image: syncthing/syncthing:latest
    container_name: syncthing
    ports:
      - "22000:22000/tcp"
      - "22000:22000/udp"
      - "21027:21027/udp"
    volumes:
      - syncthing_config:/var/syncthing
    networks:
      - traefik_public
    labels:
      traefik.enable: "true"
      traefik.http.routers.syncthing.rule: "Host(`sync.ragnalab.xyz`)"
      traefik.http.routers.syncthing.entrypoints: websecure
      traefik.http.services.syncthing.loadbalancer.server.port: "8384"
      traefik.http.routers.syncthing.middlewares: authelia@docker
      kuma.syncthing.http.name: Syncthing
      kuma.syncthing.http.url: https://sync.ragnalab.xyz
    deploy:
      resources:
        limits:
          memory: 256M
    restart: unless-stopped

volumes:
  syncthing_config:
    external: true

networks:
  traefik_public:
    external: true
