services:
  beszel:
    image: henrygd/beszel:latest
    container_name: beszel
    environment:
      TRUSTED_AUTH_HEADER: Remote-Email
    volumes:
      - beszel_data:/beszel_data
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - traefik_public
      - socket_proxy
    labels:
      traefik.enable: "true"
      traefik.http.routers.beszel.rule: "Host(`beszel.${DOMAIN}`)"
      traefik.http.routers.beszel.entrypoints: websecure
      traefik.http.services.beszel.loadbalancer.server.port: "8090"
      traefik.http.routers.beszel.middlewares: authelia@docker
      kuma.beszel.http.name: Beszel
      kuma.beszel.http.url: https://beszel.${DOMAIN}
    deploy:
      resources:
        limits:
          memory: 128M
    restart: unless-stopped

  beszel-agent:
    image: henrygd/beszel-agent:latest
    container_name: beszel-agent
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      PORT: "45876"
      KEY: "${BESZEL_AGENT_KEY}"
      FILESYSTEM: /dev/mmcblk0p2
    deploy:
      resources:
        limits:
          memory: 64M
    restart: unless-stopped

volumes:
  beszel_data:
    external: true

networks:
  traefik_public:
    external: true
  socket_proxy:
    external: true
