services:
  beszel:
    image: henrygd/beszel:latest
    container_name: beszel
    environment:
      TRUSTED_AUTH_HEADER: Remote-User
    volumes:
      - beszel_data:/beszel_data
    networks:
      - traefik_public
      - socket_proxy
    labels:
      traefik.enable: "true"
      traefik.http.routers.beszel.rule: "Host(`beszel.ragnalab.xyz`)"
      traefik.http.routers.beszel.entrypoints: websecure
      traefik.http.services.beszel.loadbalancer.server.port: "8090"
      traefik.http.routers.beszel.middlewares: authelia@docker
      kuma.beszel.http.name: Beszel
      kuma.beszel.http.url: https://beszel.ragnalab.xyz
    deploy:
      resources:
        limits:
          memory: 128M
    restart: unless-stopped

volumes:
  beszel_data:
    external: true

networks:
  traefik_public:
    external: true
  socket_proxy:
    external: true
