services:
  ntfy:
    image: binwiederhier/ntfy:latest
    container_name: ntfy
    command: serve
    volumes:
      - ntfy_cache:/var/cache/ntfy
      - ./server.yml:/etc/ntfy/server.yml:ro
    networks:
      - traefik_public
    labels:
      traefik.enable: "true"
      traefik.http.routers.ntfy.rule: "Host(`ntfy.ragnalab.xyz`)"
      traefik.http.routers.ntfy.entrypoints: websecure
      traefik.http.services.ntfy.loadbalancer.server.port: "80"
      kuma.ntfy.http.name: Ntfy
      kuma.ntfy.http.url: https://ntfy.ragnalab.xyz/v1/health
    restart: unless-stopped

volumes:
  ntfy_cache:
    external: true

networks:
  traefik_public:
    external: true
