---
# Backrest

- name: Create volumes
  ansible.builtin.include_tasks: ../shared/helpers.yml
  vars:
    helper: create-volumes
    volumes:
      - backrest_data
      - backrest_config
      - backrest_cache

- name: Start Backrest
  ansible.builtin.include_tasks: ../shared/helpers.yml
  vars:
    helper: start
    services: [backrest]
