---
# Beszel

- name: Create volumes
  ansible.builtin.include_tasks: ../shared/helpers.yml
  vars:
    helper: create-volumes
    volumes: [beszel_data]

- name: Start Beszel
  ansible.builtin.include_tasks: ../shared/helpers.yml
  vars:
    helper: start
    services: [beszel]
