---
# Beszel

- name: Create volumes
  ansible.builtin.include_tasks: ../shared/helpers.yml
  vars:
    action: create-volumes
    volumes: [beszel_data]

- name: Start Beszel
  ansible.builtin.include_tasks: ../shared/helpers.yml
  vars:
    action: start
    services: [beszel]
