---
# Paperless-ngx

- name: Create volumes
  ansible.builtin.include_tasks: ../shared/helpers.yml
  vars:
    helper: create-volumes
    volumes: [paperless_data]

- name: Create subpaths
  ansible.builtin.include_tasks: ../shared/helpers.yml
  vars:
    helper: create-subpaths
    volume_name: paperless_data
    subpaths: [app, media, export, consume, redis]

- name: Start Paperless-ngx
  ansible.builtin.include_tasks: ../shared/helpers.yml
  vars:
    helper: start
    services: [paperless-ngx, paperless-redis]
