---
# Paperless-ngx

- name: Create volumes
  ansible.builtin.include_tasks: ../shared/helpers.yml
  vars:
    helper: create-volumes
    volumes:
      - paperless_data

- name: Start Paperless-ngx
  ansible.builtin.include_tasks: ../shared/helpers.yml
  vars:
    helper: start
    services: [paperless-ngx, paperless-redis]
