---
# Paperless-ngx

- name: Create volumes
  ansible.builtin.include_tasks: ../shared/helpers.yml
  vars:
    action: create-volumes
    volumes:
      - paperless_data
      - paperless_media
      - paperless_export
      - paperless_consume
      - paperless_redis_data

- name: Start Paperless-ngx
  ansible.builtin.include_tasks: ../shared/helpers.yml
  vars:
    action: start
    services: [paperless-ngx, paperless-redis]
