---
# Radarr

- name: Create volumes
  ansible.builtin.include_tasks: ../shared/helpers.yml
  vars:
    action: create-volumes
    volumes: [radarr_config, media_data]

- name: Extract Radarr API key
  ansible.builtin.include_tasks: ../shared/helpers.yml
  vars:
    action: extract-apikey
    arr_name: radarr
    arr_port: 7878

- name: Patch Radarr authentication
  ansible.builtin.include_tasks: ../shared/helpers.yml
  vars:
    action: patch-auth
    arr_name: radarr
    arr_port: 7878

- name: Add movies root folder
  ansible.builtin.include_tasks: ../shared/helpers.yml
  vars:
    action: add-root-folder
    arr_name: radarr
    arr_port: 7878
    arr_api_path: /api/v3
    arr_api_key: "{{ radarr_api_key }}"
    arr_root_path: /data/media/movies

- name: Configure quality profile
  ansible.builtin.include_tasks: ../shared/helpers.yml
  vars:
    action: configure-quality
    arr_name: radarr
    arr_port: 7878
    arr_api_key: "{{ radarr_api_key }}"

- name: Add qBittorrent download client
  ansible.builtin.include_tasks: ../shared/helpers.yml
  vars:
    action: add-download-client
    arr_name: radarr
    arr_port: 7878
    arr_api_path: /api/v3
    arr_api_key: "{{ radarr_api_key }}"
    arr_qbt_category: radarr

- name: Add Jellyfin notification
  ansible.builtin.include_tasks: ../shared/helpers.yml
  vars:
    action: add-jellyfin-notify
    arr_name: radarr
    arr_port: 7878
    arr_api_path: /api/v3
    arr_api_key: "{{ radarr_api_key }}"
    arr_jellyfin_events:
      onMovieAdded: false
      onMovieDelete: true
      onMovieFileDelete: true
      onMovieFileDeleteForUpgrade: true
