---
# RustDesk Server (hbbs + hbbr)

- name: Create volumes
  ansible.builtin.include_tasks: ../shared/helpers.yml
  vars:
    action: create-volumes
    volumes: [rustdesk_data]

- name: Start RustDesk
  ansible.builtin.include_tasks: ../shared/helpers.yml
  vars:
    action: start
    services: [hbbs, hbbr]

- name: Copy public key from container
  ansible.builtin.command: docker cp rustdesk-hbbs:/root/id_ed25519.pub /tmp/rustdesk_pubkey
  retries: 5
  delay: 3
  register: rustdesk_cp
  until: rustdesk_cp is succeeded
  changed_when: false

- name: Read public key
  ansible.builtin.slurp:
    src: /tmp/rustdesk_pubkey
  register: rustdesk_pubkey

- name: Show RustDesk public key
  ansible.builtin.debug:
    msg: "RustDesk public key: {{ rustdesk_pubkey.content | b64decode | trim }}"
