---
# Sonarr

- name: Create volumes
  ansible.builtin.include_tasks: ../shared/helpers.yml
  vars:
    action: create-volumes
    volumes: [sonarr_config, media_data]

- name: Extract Sonarr API key
  ansible.builtin.include_tasks: ../shared/helpers.yml
  vars:
    action: extract-apikey
    arr_name: sonarr
    arr_port: 8989

- name: Patch Sonarr authentication
  ansible.builtin.include_tasks: ../shared/helpers.yml
  vars:
    action: patch-auth
    arr_name: sonarr
    arr_port: 8989

- name: Add TV root folder
  ansible.builtin.include_tasks: ../shared/helpers.yml
  vars:
    action: add-root-folder
    arr_name: sonarr
    arr_port: 8989
    arr_api_path: /api/v3
    arr_api_key: "{{ sonarr_api_key }}"
    arr_root_path: /data/media/tv

- name: Configure quality profile
  ansible.builtin.include_tasks: ../shared/helpers.yml
  vars:
    action: configure-quality
    arr_name: sonarr
    arr_port: 8989
    arr_api_key: "{{ sonarr_api_key }}"

- name: Add qBittorrent download client
  ansible.builtin.include_tasks: ../shared/helpers.yml
  vars:
    action: add-download-client
    arr_name: sonarr
    arr_port: 8989
    arr_api_path: /api/v3
    arr_api_key: "{{ sonarr_api_key }}"
    arr_qbt_category: tv-sonarr

- name: Add Jellyfin notification
  ansible.builtin.include_tasks: ../shared/helpers.yml
  vars:
    action: add-jellyfin-notify
    arr_name: sonarr
    arr_port: 8989
    arr_api_path: /api/v3
    arr_api_key: "{{ sonarr_api_key }}"
    arr_jellyfin_events:
      onSeriesAdd: false
      onSeriesDelete: true
      onEpisodeFileDelete: true
      onEpisodeFileDeleteForUpgrade: true
